In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
df = pd.read_csv('2016-17_teamBoxScore_outcome_col_added.csv')
df.head()

,gmDate,gmTime,seasTyp,offLNm1,offFNm1,offLNm2,offFNm2,offLNm3,offFNm3,teamAbbr,...,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,poss,pace,teamFTF,opptFTF,outcome
0,10/25/2016,8:00,Regular,Lane,Karl,Adams,Bennie,Kennedy,Bill,NY,...,28.8922,0.4592,20.8951,2.0667,80.0000,100.3729,100.3729,0.229885,0.202128,0
1,10/25/2016,8:00,Regular,Lane,Karl,Adams,Bennie,Kennedy,Bill,CLE,...,-28.8922,0.3478,12.9969,0.9444,33.3333,100.3729,99.9564,0.202128,0.229885,1
2,10/25/2016,10:00,Regular,Buchert,Nick,Callahan,Mike,Brown,Tony,UTA,...,9.7257,0.4699,18.3824,1.6923,38.4615,92.5380,92.1540,0.195122,0.293333,0
3,10/25/2016,10:00,Regular,Buchert,Nick,Callahan,Mike,Brown,Tony,POR,...,-9.7257,0.4444,15.5687,1.3571,64.2857,92.5380,92.9252,0.293333,0.195122,1
4,10/25/2016,10:30,Regular,Maddox,Tre,Fraher,Pat,Crawford,Dan,SA,...,-29.3592,0.4301,18.0560,1.5000,68.7500,98.7765,98.7765,0.265306,0.211765,1

In [3]:
df1 = df[['teamEFG%','opptEFG%', 'teamTO%', 'opptTO%', 'teamOREB%', 'teamDREB%', 'teamFTF', 'opptFTF', 'outcome']]
df1.head()

,teamEFG%,opptEFG%,teamTO%,opptTO%,teamOREB%,teamDREB%,teamFTF,opptFTF,outcome
0,0.4195,0.5479,15.8172,12.7812,24.5283,72.5000,0.229885,0.202128,0
1,0.5479,0.4195,12.7812,15.8172,27.5000,75.4717,0.202128,0.229885,1
2,0.5366,0.6067,13.5870,13.3088,17.1429,83.3333,0.195122,0.293333,0
3,0.6067,0.5366,13.3088,13.5870,16.6667,82.8571,0.293333,0.195122,1
4,0.5408,0.5118,11.3415,14.6897,43.7500,80.9524,0.265306,0.211765,1

In [4]:
# Assign X (data) and y (target)
X = df1.drop("outcome", axis=1)
y = df1["outcome"]
print(X.shape, y.shape)

(2460, 8) (2460,)

In [5]:
#split our data into training and testing

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [6]:
# create a logistic regression model

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [7]:
# Fit (train) or model using the training data

classifier.fit(X_train, y_train)

C:\Users\zmsub\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [8]:
# validate the model using the test data


print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.926829268292683
Testing Data Score: 0.9349593495934959

In [9]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 0 0 0 0 0 1 0 1 1]
First 10 Actual labels: [0, 0, 0, 0, 0, 0, 1, 0, 1, 1]

In [10]:
# 0 stands for loss, 1 stands for win

In [11]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction  Actual
0             0       0
1             0       0
2             0       0
3             0       0
4             0       0
5             0       0
6             1       1
7             0       0
8             1       1
9             1       1
10            1       1
11            1       1
12            1       1
13            0       0
14            0       0
15            0       0
16            0       0
17            1       1
18            0       0
19            1       1
20            0       0
21            1       1
22            1       1
23            1       1
24            1       1
25            0       0
26            1       0
27            1       1
28            0       0
29            0       0
..          ...     ...
585           0       0
586           0       0
587           1       1
588           1       1
589           0       0
590           0       0
591           0       0
592           0       0
593           0       0
594           0       0
595           0       0
596           1       1
597           1       1
598           0       0
599           0       0
600           1       0
601           0       0
602           0       0
603           1       1
604           1       1
605           0       0
606           1       1
607           0       0
608           0       0
609           1       1
610           1       1
611           1       1
612           1       1
613           1       1
614           0       0

[615 rows x 2 columns]